.card-container{
    width: 98%;
    min-height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.card-container img {
    display: none;
}


.card-container img[src] {
   display: block;
   user-select: none;
 }

.card-portion{
    width: 100%;
    height: 40px !important;
    color: #ffffff;
    cursor: pointer;
}

.custom-text-last{
    padding: 10px;
}


.small-chip{
    width: 40px;
    height: 40px;
    background-color: lightcyan;
    display: block;
    border-radius: 10px;
    margin-left: 70px;
    position: relative;
  
}

.name-type-portion{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

.name-type-portion div:nth-child(1){
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.card-type-icon{
    font-size: 60px;
    margin-right: 5px;
}

.card-number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-number div:nth-child(1){
    font-size: 1.5rem;
}


/* Back Card */
.back-card-scan{
    height: 50px;
    width: 100%;
    display: block;
    background-color: #333 !important;
    color: lightcyan;
    margin-top: 25px;
    margin-bottom: 10px;
}


.back-seal-portion{
    display: flex;
   
    align-items: flex-start;
}

.back-seal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

}

.authorize-sig{
    font-size: .6rem;
    color: #fff;
    text-align: center;
}

.back-seal{
    width: 100%;
    height: 50px;
    display: block;
    background-color: #ffffff;
    margin-left: 30px;

}

.back-seal-text{
    width: 30%;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 10px;
}

.back-number{
    color: #fff;
    font-size: 1.4rem;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: max-content ;
}


.back-number div:nth-child(2){
    font-size: .6rem;
    text-align: center;
}

.back-bankname-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.bankname-left{
    width: 70%;
}

.bankname-left span:nth-child(1){
    color: #fff;
    display: block;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.bankname-left span:nth-child(2){
    color: #fff;
    display: block;
    font-size: .6rem;
    text-transform: uppercase;
}

.back-logo{
    margin-right: 10px;
    color: #fff;
    text-align: right;
}

.back-notice{
    font-size: .6rem;
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    .card-container{
        width: 100%;
        margin-left: 5px;
    }
}